<div id="locationField">
  <!-- <label>{{searchInputLabel}}</label> -->
  <input #tSearchInput placeholder="Enter your search term" type="text" [style.width]="searchInputWidth" [style.margin.px]="5" [style.border-radius]="'5px'"
    [style.height]="searchInputHeight"/>
</div>

<!-- <div>
  <label>Show Google Map</label>
  <input type="checkbox" [(ngModel)]="showMap" size="100">
</div> -->

<div #tMapDiv style="height: 100%; min-height: 200px;" [style.display]="showMap ? 'block' : 'none'"></div>
